html, body{
	overflow-x: hidden;
}

p{
	font-size: 18px!important;
}

.text-dash{
	text-decoration: underline;
}

.p-style{
	font-size: 18px;
}

.full-width-desktop{
	width: 100%;
}

.one-third-width{
	width: 75%;
	display: inline-block;
}

.analisar-title{
	height: 15px;
}

.item-click-analisar{
	padding-left: 92px;
	padding-top: 20px;
	display: inline-block;
}

.analise-item-title{
	margin-bottom: 9px!important;
}

#section-faq{
	display: inline-block;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 100px;
	h2{
		text-align: center;
		width: 100%;
		margin-bottom: 40px;
	}
	.collapse-container{
		.panel-heading{
			.panel-title{
				a{
					.toggler-title{
						font-size: 24px;
						color: #E15252;
						font-weight: normal;
					}
					.img-change{
			      opacity: 1;
			      position: absolute;
						right: 0px;
						transform: rotate(0deg);
						transition: all 300ms ease-in-out;
			    }
			    .rotate-icon{
						transform: rotate(90deg);
						transition: all 300ms ease-in-out;
					}
			    .img-closed{
			      opacity: 0;
			      position: absolute;
						right: 0px;
			    }
					.img-change{
						
					}
				}
				.collapsed{
			    .img-open{
			      opacity: 1;
			    }
			    .img-closed{
			      opacity: 0;
			    }
			  }
			}
		}
		.panel-collapse{
			.panel-body{
				p{
					font-size: 18px;
					width: 100%;
					height: inherit;
				}
			}
		}
	}
}

